
<div class="sidebar sidebar-about">
  <img src="{{site.baseurl | prepend:site.url}}/images/misc/photo-2019.jpg" alt="James Churchill" />
  <h3>James Churchill</h3>
  <p>Software Developer, Instructor, Speaker</p>
</div>

<div class="sidebar">
  <h1>Follow Me</h1>
  {% include social.html %}
</div>

<div class="sidebar ">
  <h1>Recent Posts</h1>
  <ul>
    {% for post in site.posts limit:5 %}
    <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>

<div class="sidebar">
  <h1>Tags</h1>
  <ul>
    {% for tag in site.tags %}
      <li><a href="{{ site.baseurl }}/tag/{{ tag[0] }}">{{ tag[0] }}</a></li>
    {% endfor %}
  </ul>
</div>
